<SharperCryptoAPIConfiguration>
	<SyncMode>Soft</SyncMode>
	<RepoAddress>https://github.com/AnakinSklavenwalker/SharperCryptoApiAnalysisSample</RepoAddress>
	<Extensions>
		<Extension>
			<Name>Analyzer2</Name>
			<Type>MefComponent, Analyzer</Type>
			<Author>Test Author</Author>
			<Version>2.0.0.0</Version>
			<Summary>Analyzer2</Summary>
			<Description>This is a longer Description for the extension. Here you can write any details you want, including changelogs and feature support. However this text however will not be formatted in the current version of the Tool.</Description>
			<InstallPath>Extensions\Analyzer2.dll</InstallPath>
			<InstallExtension>True</InstallExtension>
			<External>False</External>
			<Source>build\Analyzers\Analyzer2.dll</Source>
		</Extension>
		<Extension>
			<Name>Analyzer3</Name>
			<Type>MefComponent, Analyzer</Type>
			<Author>Test Author</Author>
			<Version>2.0.0.0</Version>
			<Summary>Analyzer3</Summary>
			<Description>This is a longer Description for the extension. Here you can write any details you want, including changelogs and feature support. However this text however will not be formatted in the current version of the Tool.</Description>
			<InstallPath>Extensions\Analyzer3.dll</InstallPath>
			<InstallExtension>True</InstallExtension>
			<External>False</External>
			<Source>build\Analyzers\Analyzer3.dll</Source>
		</Extension>
	</Extensions>
</SharperCryptoAPIConfiguration>