<SharperCryptoAPIConfiguration>
  <SyncMode>Soft</SyncMode>
  <RepoAddress>https://github.com/AnakinSklavenwalker/SharperCryptoApiAnalysisSample</RepoAddress>
  <AnalysisSeverity>Medium</AnalysisSeverity>
  <Extensions>
    <Extension>
      <Name>IDisposableAnalyzer.dll</Name>
      <Type>MefComponent, Analyzer</Type>
      <Author>David Störmer, Sebastian Leuer</Author>
      <Version>1.0.0.0</Version>
      <Summary>Analyses code for bad usage of IDisposable instances</Summary>
      <Description>
      </Description>
      <InstallPath>Extensions\IDisposableAnalyzer.dll</InstallPath>
      <InstallExtension>True</InstallExtension>
      <External>False</External>
      <Source>build\Extensions\IDisposableAnalyzer.dll</Source>
    </Extension>
  </Extensions>
</SharperCryptoAPIConfiguration>